{% extends ':front:layout.html.twig' %}

{% block title %}Ma collection{{ parent() }}{% endblock %}

{% block body_class %}members-my-collection{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="content">
        <div class="col-pd">
            <div class="col-xs-12 col-pd">
                {% for message in app.session.flashbag.get('success') %}
                    <p class="success">
                        {{ message }}
                    </p>
                {% endfor %}
                {% for message in app.session.flashbag.get('error') %}
                    <p class="error">
                        {{ message }}
                    </p>
                {% endfor %}
                <h1 class="dashed">Ma collection</h1>
            </div>
        </div>
        <div class="col-m-pd">
            <div class="collection-summary col-xs-12 font-size-zero">
                <div class="col-xs-12 col-s-4 col-pd">
                    <div class="minifigures-count col-xs-6 col-s-12 col-pd col-s-no-pd font-size-default">
                        <span class="number">{{ minifiguresCount }} </span>figurine{{ minifiguresCount == 1 ? '' : 's' }}
                    </div>
                    <div class="sets-count col-xs-6 col-s-12 col-pd col-s-no-pd font-size-default">
                        <span class="number">{{ setsCount }} </span>set{{ setsCount == 1 ? '' : 's' }}
                    </div>
                </div>
                <div class="resume col-xs-12 col-s-8 font-size-default">
                    {% if ranges|length > 0 %}
                        <div class="col-pd">
                            <div class="col-pd col-s-no-pd">
                                <h3>Répartition par gamme</h3>
                                <div class="chart-container">
                                    {% for range in ranges %}
                                        <div class="chart-segment" data-width="{{ range.percentage }}">
                                            <div class="chart-bar" style="background: {{ range.color }};"></div>
                                            <p class="chart-label" title="{{ range.name }}">{{ range.name }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <h3 class="offers-title">
                                    <span class="title-label">
                                        Mes annonces en cours
                                    </span>
                                    <div class="action">
                                        <a href="/offers/add" class="link">
                                            <span class="icon-arrow"></span>
                                            Déposer une annonce
                                        </a>
                                    </div>
                                </h3>
                            </div>
                        </div>
                        <div class="col-s-pd">
                            {% if offersList is not empty %}
                                <table class="list offers-list">
                                    {% for offer in offersList %}
                                    <tr {{ loop.index % 2 == 0 ? 'class="even"' : 'class="uneven"' }} onclick="document.location='{{ path('offer_view', {'id': offer.id}) }}'">
                                    <td class="thumbnail">
                                        {% if offer.offerPictures is not empty %}
                                        <img class="resize-to-container" src="{{ asset('img/offers/57x57/' ~ offer.offerPictures.first.filename) }}">
                                        {% endif %}
                                    </td>
                                    <td class="title">
                                        <a href="{{ path('offer_view', {'id': offer.id}) }}" title="Voir l'annonce &#147;{{ offer.title }}&#148;">
                                            <span class="title-text">{{ offer.title }}</span>
                                                        <span class="type">
                                                            <span class="type-text">{{ offer.type }}</span> - <i>{{ offer.remainingDays }} jour{{ offer.remainingDays > 1 ? 's' : '' }} restant{{ offer.remainingDays > 1 ? 's' : '' }}</i>
                                                        </span>
                                        </a>
                                    </td>
                                    <td class="price">
                                        {% if offer.price %}
                                            <a href="{{ path('offer_view', {'id': offer.id}) }}" title="Voir l'annonce &#147;{{ offer.title }}&#148;">
                                                {{ offer.price }} €
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="actions">
                                        <a href="{{ path('offer_edit', {'id': offer.id}) }}" title="Editer l'annonce &#147;{{ offer.title }}&#148;">
                                            <span class="icon-pencil"></span>
                                        </a>
                                        <a class="delete-link" href="{{ path('offer_delete', {'id': offer.id}) }}" title="Supprimer l'annonce &#147;{{ offer.title }}&#148;">
                                            <span class="icon-delete"></span>
                                        </a>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <p>Aucune annonce en cours.</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="col-pd">
                            <div class="col-pd col-s-no-pd">
                                <div class="empty-collection">
                                    <p>Vous n'avez aucun élément dans votre collection. Il serait peut-être temps d'en ajouter.</p>
                                    <h3><a href="/home">Commencez votre collection</a></h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if ranges|length > 0 %}
            <div class="col-xs-12 col-pd">
                <div class="col-pd">
                    <div class="horizontal-border"></div>
                    <div class="buttons-container font-size-zero">
                        <button class="item-type-button btn-3-s font-size-default animated active" type="button" data-type="minifigures">Figurines</button>
                        <button class="item-type-button btn-3-s font-size-default animated" type="button" data-type="sets">Sets</button>
                    </div>

                    <div class="minifigures-list item-list shown">
                        {% if minifiguresCount > 0 %}
                            {% for range in ranges %}
                                {% if range.minifigures_count is defined %}
                                    <div class="range-container">
                                        <h1 class="range-title">
                                            {{ range.name }}
                                            <span class="range-count">
                                                {{ range.minifigures_count }} fig{{ range.minifigures_count == 1 ? '' : 's' }}
                                            </span>
                                        </h1>
                                        {% for serie in range.series %}
                                            <div class="serie-container">
                                                {% if serie.minifigures_count is defined %}
                                                    <h3 class="serie-title line">
                                                        <span>{{ serie.name }}</span>
                                                                            <span class="serie-count">
                                                                                {{ serie.minifigures_count }} fig{{ serie.minifigures_count == 1 ? '' : 's' }}
                                                                            </span>
                                                    </h3>
                                                    <div class="font-size-zero">
                                                        {% for minifigure in serie.minifigures %}
                                                            <div class="item-col font-size-default">
                                                                <div class="item-container">
                                                                    <div class="item" data-id="{{ minifigure.id }}">
                                                                        <div class="item-count">
                                                                            x{{ minifigure.count }}
                                                                        </div>
                                                                        <div class="actions-container">
                                                                            <div class="wrapper">
                                                                                <a href="/offers/add?id={{ minifigure.id }}&type=minifigure">
                                                                                    €
                                                                                    <span class="label">Vendre</span>
                                                                                </a>
                                                                                <button type="button" class="edit-button">
                                                                                    <span class="icon-pencil"></span>
                                                                                    <span class="label">Modifier</span>
                                                                                </button>
                                                                                <button type="button" class="delete-button">
                                                                                    <span class="icon-delete"></span>
                                                                                    <span class="label">Supprimer</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <p class="name">- {{ minifigure.id }} -<br>{{ minifigure.name }}</p>
                                                                        <div class="transactions">
                                                                            {% if minifigure.sell_total != 0 or minifigure.exchange_total != 0 %}
                                                                                <a href="{{ path('offers_listing', {'itemType': 'minifigure', 'id': minifigure.id}) }}" title="Voir les annonces pour &quot;{{ minifigure.name }}&quot;">
                                                                            {% endif %}
                                                                            <p>
                                                                                <span class="number">{{ minifigure.sell_total }}</span>en vente
                                                                                <br>
                                                                                {% if minifigure.price is not empty and minifigure.price != 0 %}
                                                                                    dès {{ minifigure.price|replace({'.': ','})|replace({',00': ''}) }} €
                                                                                {% endif %}
                                                                            </p>
                                                                            <p>
                                                                                <span class="number">{{ minifigure.exchange_total }}</span>en<br>échange
                                                                            </p>
                                                                            {% if minifigure.sell_total != 0 or minifigure.exchange_total != 0 %}
                                                                                </a>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="picture-container">
                                                                            <img class="picture resize-to-container" src="{{ asset('img/minifigures/209x238/' ~ minifigure.picture) }}" alt="{{ minifigure.name }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="item-panel item-number animated">
                                                                        <div class="item-number-content">
                                                                            <h3 class="title">Nombre d'exemplaires</h3>
                                                                            <form>
                                                                                <div class="input-container">
                                                                                    <div class="less-item-col">
                                                                                        <button type="button" class="less-item-button">
                                                                                            <span class="icon-remove-alt"></span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="item-number-col">
                                                                                        <input type="text" class="item-number-input" name="item_number" value="{{ minifigure.count }}" readonly>
                                                                                        <input type="hidden" class="item-id-input" name="item_id" value="{{ minifigure.id }}">
                                                                                        <input type="hidden" class="item-type-input" name="item_type" value="minifigure">
                                                                                    </div>
                                                                                    <div class="more-item-col">
                                                                                        <button type="button" class="more-item-button">
                                                                                            <span class="icon-add-alt"></span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                                <button type="submit" class="edit-button btn-2-m">Modifier</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="item-confirmation-content hidden">
                                                                            <img src="{{ asset('img/success-02.png') }}" alt="Succès">
                                                                            <h3>Modification effectuée !</h3>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item-panel item-delete animated">
                                                                        <div class="item-delete-content">
                                                                            <h3 class="title">Supprimer cette figurine ?</h3>
                                                                            <form>
                                                                                <input type="hidden" class="item-id-input" name="item_id" value="{{ minifigure.id }}">
                                                                                <input type="hidden" class="item-type-input" name="item_type" value="minifigure">
                                                                                <button type="submit" class="delete-button btn-2-m">Supprimer</button>
                                                                                <button type="button" class="cancel-button btn-2-m">Annuler</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="item-confirmation-content hidden">
                                                                            <img src="{{ asset('img/success-02.png') }}" alt="Succès">
                                                                            <h3>Suppression effectuée !</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p class="empty-item-list">Votre collection ne contient aucune figurine.</p>
                        {% endif %}
                    </div>
                    <div class="sets-list item-list">
                        {% if setsCount > 0 %}
                            {% for range in ranges %}
                                {% if range.sets_count is defined %}
                                    <div class="range-container">
                                        <h1 class="range-title">
                                            {{ range.name }}
                                            <span class="range-count">
                                                {{ range.sets_count }} set{{ range.sets_count == 1 ? '' : 's' }}
                                            </span>
                                        </h1>
                                        {% for serie in range.series %}
                                            {% if serie.sets_count is defined %}
                                                <div class="serie-container">
                                                    <h3 class="serie-title line">
                                                        <span>{{ serie.name }}</span>
                                                        <span class="serie-count">
                                                            {{ serie.sets_count }} set{{ serie.sets_count == 1 ? '' : 's' }}
                                                        </span>
                                                    </h3>
                                                    <div class="font-size-zero">
                                                        {% for set in serie.sets %}
                                                            <div class="item-col font-size-default">
                                                                <div class="item-container">
                                                                    <div class="item">
                                                                        <div class="item-count">
                                                                            x{{ set.count }}
                                                                        </div>
                                                                        <div class="actions-container">
                                                                            <div class="wrapper">
                                                                                <a href="/offers/add?id={{ set.id }}&type=set">
                                                                                    €
                                                                                    <span class="label">Vendre</span>
                                                                                </a>
                                                                                <button type="button" class="edit-button">
                                                                                    <span class="icon-pencil"></span>
                                                                                    <span class="label">Modifier</span>
                                                                                </button>
                                                                                <button type="button" class="delete-button">
                                                                                    <span class="icon-delete"></span>
                                                                                    <span class="label">Supprimer</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <p class="name">- {{ set.number }} -<br>{{ set.name }}</p>
                                                                        <div class="transactions">
                                                                            {% if set.sell_total != 0 or set.exchange_total != 0 %}
                                                                                <a href="/offers/listing?id={{ set.id }}&type=set" title="Voir les annonces pour &quot;{{ set.name }}&quot;">
                                                                            {% endif %}
                                                                            <p>
                                                                                <span class="number">{{ set.sell_total }}</span>en vente
                                                                                <br>
                                                                                {% if set.price is not empty and set.price != 0 %}
                                                                                    dès {{ set.price|replace({'.': ','})|replace({',00': ''}) }} €
                                                                                {% endif %}
                                                                            </p>
                                                                            <p>
                                                                                <span class="number">{{ set.exchange_total }}</span>en<br>échange
                                                                            </p>
                                                                            {% if set.sell_total != 0 or set.exchange_total != 0 %}
                                                                                </a>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="picture-container">
                                                                            <img class="picture resize-to-container" src="{{ asset('img/sets/209x238/' ~ set.picture) }}" alt="{{ set.name }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="item-panel item-number animated">
                                                                        <div class="item-number-content">
                                                                            <h3 class="title">Nombre d'exemplaires</h3>
                                                                            <form>
                                                                                <div class="input-container">
                                                                                    <div class="less-item-col">
                                                                                        <button type="button" class="less-item-button">
                                                                                            <span class="icon-remove-alt"></span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="item-number-col">
                                                                                        <input type="text" class="item-number-input" name="item_number" value="{{ set.count }}" readonly>
                                                                                        <input type="hidden" class="item-id-input" name="item_id" value="{{ set.id }}">
                                                                                        <input type="hidden" class="item-type-input" name="item_type" value="set">
                                                                                    </div>
                                                                                    <div class="more-item-col">
                                                                                        <button type="button" class="more-item-button">
                                                                                            <span class="icon-add-alt"></span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                                <button type="submit" class="edit-button btn-2-m">Modifier</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="item-confirmation-content hidden">
                                                                            <img src="{{ asset('img/success-02.png') }}" alt="Succès">
                                                                            <h3>Modification effectuée !</h3>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item-panel item-delete animated">
                                                                        <div class="item-delete-content">
                                                                            <h3 class="title">Supprimer ce set ?</h3>
                                                                            <form>
                                                                                <input type="hidden" class="item-id-input" name="item_id" value="{{ set.id }}">
                                                                                <input type="hidden" class="item-type-input" name="item_type" value="set">
                                                                                <button type="submit" class="delete-button btn-2-m">Supprimer</button>
                                                                                <button type="button" class="cancel-button btn-2-m">Annuler</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="item-confirmation-content hidden">
                                                                            <img src="{{ asset('img/success-02.png') }}" alt="Succès">
                                                                            <h3>Suppression effectuée !</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p class="empty-item-list">Votre collection ne contient aucun set.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="delete-dialog dialog">
        <div class="header">
            <a href="#" class="close" title="Fermer"></a>
        </div>
        <div class="content">
            <h2>Etes-vous sûr de vouloir supprimer l'annonce <br>suivante ?</h2>
            <table>
                <tr>
                    <th>Titre</th>
                    <td class="title">Titre</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td class="type">Type</td>
                </tr>
            </table>
        </div>
        <div class="dialog-buttons">
            <table>
                <tr>
                    <td>
                        <a class="cancel" href="#">Annuler</a>
                    </td>
                    <td>
                        <a class="delete" href="#">Supprimer</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}