{% extends ':front:layout.html.twig'  %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="picture">
        <div class="search-container">
            <div class="search">
                <h1>Recherche</h1>
                <div class="buttons-container font-size-zero">
                    <button class="item-type-button btn-2-s font-size-default active" type="button" data-type="minifigure">Minifigs</button>
                    <button class="item-type-button btn-2-s font-size-default" type="button" data-type="set">Sets</button>
                </div>
                {{ form_start(form) }}
                    <div class="field">
                        {{ form_errors(form.range) }}
                        {{ form_widget(form.range, {'attr': {'readonly': true, 'value': 'Gamme'}}) }}
                        <div class="range erase hidden"></div>
                    </div>
                    <div class="field">
                        {{ form_errors(form.serie) }}
                        {{ form_widget(form.serie, {'attr': {'readonly': true, 'value': 'Série'}}) }}
                        <div class="serie erase hidden"></div>
                    </div>
                    <button type="submit" class="btn-2-m">rechercher</button>
                    {{ form_widget(form.item_type, {'attr': {'class': 'item-type-field', 'value': 'minifigure'}}) }}
                    {{ form_widget(form.selected_range_alias, {'attr': {'value': 'none'}}) }}
                    {{ form_widget(form.selected_serie_alias, {'attr': {'value': 'none'}}) }}
                {{ form_end(form) }}
            </div>
            <div class="ranges-list" data-item-type="minifigure">
                <ul>
                    {# On liste toutes les gammes #}
                    {% for range in ranges %}
                        {% if range.minifigures_count > 0 %}
                            <li data-alias="{{ range.slug }}">
                                <img src="{{ asset('img/ranges/' ~ range.picture) }}">
                                {{ range.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="ranges-list" data-item-type="set">
                <ul>
                    {# On liste toutes les gammes #}
                    {% for range in ranges %}
                        {% if range.sets_count > 0 %}
                            <li data-alias="{{ range.slug }}">
                                <img src="{{ asset('img/ranges/' ~ range.picture) }}">
                                {{ range.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {# On liste toutes les séries comprises dans une gamme #}
            {%  for range in ranges %}
                {% if range.series is not empty %}
                    <div class="series-list" data-range="{{ range.slug }}" data-item-type="minifigure">
                        <ul>
                            {% for serie in range.series %}
                                {% if serie.minifigures_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="series-list" data-range="{{ range.slug }}" data-item-type="set">
                        <ul>
                            {%  for serie in range.series %}
                                {% if serie.sets_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {%  endfor %}
            {# On liste toutes les séries comprises dans une gamme #}
            {% for range in ranges %}
                {% if range.series is not empty %}
                    <div class="series-list" data-range="{{ range.slug }}" data-item-type="minifigure">
                        <ul>
                            {% for serie in range.series %}
                                {% if serie.minifigures_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {%  endfor %}
                        </ul>
                    </div>
                    <div class="series-list" data-range="<?php echo $range->alias; ?>" data-item-type="set">
                        <ul>
                            {% for serie in range.series %}
                                {% if serie.sets_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="series-list" data-range="none" data-item-type="minifigure">
                <ul>
                    {# On liste toutes les séries de toutes les gammes #}
                    {% for range in ranges %}
                        {# Si il y a des séries dans cette gamme, on les liste #}
                        {% if range.series is not empty %}
                            {% for serie in range.series %}
                                {% if serie.minifigures_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="series-list" data-range="none" data-item-type="set">
                <ul>
                    {# On liste toutes les séries de toutes les gammes #}
                    {% for range in ranges %}
                        {# Si il y a des séries dans cette gamme, on les liste #}
                        {% if range.series is not empty %}
                            {% for serie in range.series %}
                                {% if serie.sets_count > 0 %}
                                    <li data-alias="{{ serie.slug }}">
                                        <img src="{{ asset('img/series/' ~ serie.picture) }}">
                                        {{ serie.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col-pd font-size-zero">
            <div class="argument col-xs-12 col-s-4 col-pd font-size-default">
                <p>
                    <img src="{{ asset('img/round-01.png') }}" alt="">
                </p>
                <p>
                    <strong>Gérez votre collection</strong><br>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div class="argument col-xs-12 col-s-4 col-pd font-size-default">
                <p>
                    <img src="{{ asset('img/round-01.png') }}" alt="">
                </p>
                <p>
                    <strong>Echange / achat / vente facile</strong><br>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div class="argument col-xs-12 col-s-4 col-pd font-size-default">
                <p>
                    <img src="{{ asset('img/round-01.png') }}" alt="">
                </p>
                <p>
                    <strong>Ne manquez aucune nouveauté</strong><br>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
        </div>
    </div>
{% endblock %}