{% extends '::base.html.twig'  %}

{% block title %} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('librairies/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('librairies/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="logo">
            <a href="{{ path('homepage') }}">
                <div class="head"></div>
                brickskeeper<span class="beta">beta</span><br>
                <span>gestion de collection lego</span>
            </a>
        </h1>
        <button id="navigation-button" class="navigation-button inactive" type="button">
            <span class="icon-burger-menu size-24"></span>
            <br>
            menu
        </button>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="logged-user">
                <div class="picture-container">
                    {% if app.user.userProfile is not empty %}
                         {% if app.user.userProfile.picture is not empty %}
                             <img src="{{ asset('img/members/' ~ app.user.userProfile.picture) | imagine_filter('header_thumbnail') }}">
                        {% endif %}
                    {% endif %}
                </div>
                <p>
                    <a href="{{ path('user_profile', {'id': null}) }}" class="link">
                        {{ app.user.firstname }} {{ app.user.lastname }}
                    </a>
                    <br>
                    <a href="{{ path('user_logout') }}">déconnexion</a>
                </p>
            </div>
        {% else %}
            <ul class="anonymous-user">
                <li><a href="{{ path('user_register') }}">S'inscrire</a></li>
                <li><a href="{{ path('user_login') }}">Se connecter</a></li>
            </ul>
        {% endif %}
    </div>
    <div id="navigation" class="navigation">
        <div id="right-lateral-header" class="right-lateral-header"></div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="logged-user">
                <li class="picture">
                    <div class="picture-container">
                        {% if app.user.userProfile is not empty %}
                            {% if app.user.userProfile.picture is not empty %}
                                <img src="{{ asset('img/members/' ~ app.user.userProfile.picture) | imagine_filter('header_thumbnail') }}">
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="name">
                    <a href="{{ path('user_profile', {'id': app.user.id}) }}" class="link">
                        {{ app.user.firstname }} {{ app.user.lastname }}
                    </a>
                </li>
                <li class="logout">
                    <a href="{{ path('user_logout') }}" class="link">
                        <span class="icon-logout size-16"></span>
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="anonymous-user">
                <li><a href="{{ path('user_register') }}">S'inscrire</a></li>
                <li><a href="{{ path('user_login') }}">Se connecter</a></li>
            </ul>
        {% endif %}
        <ul class="links">
            <li><a href="{{ path('homepage') }}">Rechercher des figs / sets</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('user_collection') }}">Ma collection</a></li>
                <li><a href="{{ path('offer_add') }}">Déposer une annonce</a></li>
            {% endif %}
            <li><a href="{{ path('offers_listing') }}">Toutes les annonces</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <ul class="links">
            <li>
                <a href="{{ path('page_contact') }}" title="Signaler un problème au webmaster">
                    Signaler un problème au webmaster
                </a>
            </li>
        </ul>
        <p>Tous droits réservés brickskeeper.fr 2015</p>
    </div>
    <div class="coming-soon-dialog dialog">
        <div class="header">
            <a href="#" class="close" title="Fermer"></a>
        </div>
        <div class="content">
            <h2>Fonctionnalité en cours de développement</h2>
        </div>
    </div>
{% endblock %}